.notificare .notificare__web-push-message {
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  position: relative;
  background-color: #f2f4f6;
  width: 340px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

.notificare .notificare__web-push-message-main-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.notificare .notificare__web-push-message-browser-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notificare .notificare__web-push-message-browser-icon-background {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notificare .notificare__web-push-message-browser-icon-image {
  width: 48px;
}

.notificare .notificare__web-push-message-text-content {
  font-size: 14px;
  width: 221px;
}

.notificare .notificare__web-push-message-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notificare .notificare__web-push-message-domain {
  margin-top: 2px;
  margin-bottom: 0;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notificare .notificare__web-push-message-message {
  margin-top: 2px;
  margin-bottom: 0;
  font-weight: 300;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.notificare .notificare__web-push-message-expand-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.notificare .notificare__web-push-message-expand-button-svg {
  width: 14px;
  height: 14px;
  fill: #9e9e9e;
}

.notificare .notificare__web-push-message-expanded-media {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.notificare .notificare__web-push-message-expanded-media-image {
  width: 100%;
}

.notificare .notificare__web-push-message-small-media {
  display: flex;
  justify-content: flex-end;
  width: 48px;
}

.notificare .notificare__web-push-message-small-media-image {
  width: 40px;
  height: 40px;
  border-radius: 25%;
  object-fit: cover;
  margin-top: 20px;
}
