.notificare .notificare__push-onboarding__floating-button__wrapper {
    width: 100%;
    height: calc(615px - 32px);
}

.notificare .notificare__push-onboarding__floating-button {
    position: absolute;
    margin: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 16px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: #dfe0ff;
    color: #000a64;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 0.2), 0 2px 2px 0 rgb(0 0 0 / 0.14), 0 1px 5px 0 rgb(0 0 0 / 0.12);
}

.notificare .notificare__push-onboarding__floating-button:active {
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 0.2), 0 4px 5px 0 rgb(0 0 0 / 0.14), 0 1px 10px 0 rgb(0 0 0 / 0.12);
}

.notificare .notificare__push-onboarding__floating-button:focus {
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 0.2), 0 8px 10px 1px rgb(0 0 0 / 0.14), 0 3px 14px 2px rgb(0 0 0 / 0.12);
}

.notificare .notificare__push-onboarding__floating-button:hover {
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 0.2), 0 8px 10px 1px rgb(0 0 0 / 0.14), 0 3px 14px 2px rgb(0 0 0 / 0.12);
}

.notificare .notificare__push-onboarding__floating-button--start {
    left: 0;
}

.notificare .notificare__push-onboarding__floating-button--end {
    right: 0;
}

.notificare .notificare__push-onboarding__floating-button--top {
    top: 0;
}

.notificare .notificare__push-onboarding__floating-button--bottom {
    bottom: 0
}

.notificare .notificare__push-onboarding__floating-button__icon {
    fill: #000a64;
    width: 24px;
    height: 24px;
}

.notificare .notificare__push-onboarding__floating-button-tooltip {
    visibility: hidden;
    position: absolute;
    padding: 12px 24px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 8px;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 0.2), 0 8px 10px 1px rgb(0 0 0 / 0.14), 0 3px 14px 2px rgb(0 0 0 / 0.12);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    line-height: 20px;
    max-width: 274px;
    width: max-content;
    overflow-wrap: break-word;
}

.notificare .notificare__push-onboarding__floating-button--start .notificare__push-onboarding__floating-button-tooltip {
    left: 0;
}

.notificare .notificare__push-onboarding__floating-button--end .notificare__push-onboarding__floating-button-tooltip {
    right: 0;
}

.notificare .notificare__push-onboarding__floating-button--top .notificare__push-onboarding__floating-button-tooltip {
    top: calc(100% + 16px);
}

.notificare .notificare__push-onboarding__floating-button--bottom .notificare__push-onboarding__floating-button-tooltip {
    bottom: calc(100% + 16px);
}

.notificare .notificare__push-onboarding__floating-button:hover .notificare__push-onboarding__floating-button-tooltip {
    visibility: visible;
    opacity: 1;
}