/* Preview Wrapper */

.notificare .notificare__web-push {
  position: relative;
  background-color: #f4f4f4;
  width: 340px;
  border-radius: 15px;
  border: 1px solid #e4e4e4;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  transition: height 0.3s ease-in-out;
  align-self: start;
}

/* Expand Button */

.notificare .notificare__web-push-expand-button-container {
  position: absolute;
  top: 8px;
  right: 8px;
  animation: fadeIn 0.5s ease-out forwards;
}

/* --- MAIN CONTENT --- */

.notificare .notificare__web-push-main-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding: 14px;
}

/* Browser Icon */

.notificare .notificare__web-push-browser-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notificare .notificare__web-push-browser-icon-background {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notificare .notificare__web-push-browser-icon-image {
  width: 30px;
}

/* Text */

.notificare .notificare__web-push-text-content {
  width: 219px;
}

.notificare .notificare__web-push-text {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
  margin-bottom: 0;
}

.notificare .notificare__web-push-text--title {
  font-weight: 700;
}

.notificare .notificare__web-push-text--domain {
  font-weight: 700;
  margin-top: 2px;
}

.notificare .notificare__web-push-text--message {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-word;
  white-space: wrap;
  margin-top: 2px;
  -webkit-line-clamp: 3;
  line-height: 1.2;
  transition: height 0.3s ease-in-out;
}

.notificare .notificare__web-push-text--expandable-message {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-word;
  white-space: wrap;
  margin-top: 2px;
  line-height: 1.2;
  transition: height 0.3s ease-in-out;
}

/* Small Media */

.notificare .notificare__web-push-small-media {
  display: flex;
  justify-content: flex-end;
  width: 38px;
  height: 38px;
  border-radius: 25%;
  object-fit: cover;
  margin-top: 14px;
  animation: fadeIn 0.5s ease-out forwards;
}

/* Expanded Media */

.notificare .notificare__web-push-expanded-media {
  width: 100%;
  display: block;
}

/* Time */

.notificare .notificare__web-push-time-container {
  position: absolute;
  top: 8px;
  right: 14px;
  animation: fadeIn 0.5s ease-out forwards;
}

.notificare .notificare__web-push-time {
  font-size: 12px;
  color: #64706e;
}

/* Settings Button */

.notificare .notificare__web-push-settings-button {
  min-width: 70px;
  display: flex;
  background-color: #d6d6d6;
  border-radius: 7px;
  border: 0;
  bottom: 10px;
  padding: 5px 10px 5px;
  font-size: 13px;
  position: absolute;
  right: 14px;
  z-index: 10;
  justify-content: center;
  box-shadow: -5px -7px 10px 10px rgba(242, 244, 246, 1);
  animation: fadeIn 0.5s ease-out forwards;
}

.notificare .notificare__web-push-settings-button-expand-icon {
  width: 9px;
  margin-left: 4px;
  color: #000000;
}

/* Settings Selector */

.notificare .notificare__web-push-settings-selector {
  background-color: #eaeaea;
  border-radius: 7px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  bottom: -80px;
  position: absolute;
  right: 14px;
  padding: 4px;
  display: flex;
  flex-direction: column;
}

.notificare .notificare__web-push-settings-selector-option {
  min-width: 70px;
  background-color: transparent;
  border-radius: 7px;
  font-size: 13px;
  border: 0;
  padding: 5px 10px;
  flex: 1;
}

.notificare .notificare__web-push-settings-selector-option:hover {
  background-color: #3b82f6;
  color: #fff;
}

/* Expanded Options - Actions & Settings */

.notificare .notificare__web-push-expanded-content {
  padding: 0 14px 14px;
  width: 100%;
}

.notificare .notificare__web-push-expanded-divisor {
  border: none;
  border-top: 1px solid #d6d6d6;
  width: 102%;
  margin-left: -1%;
}

.notificare .notificare__web-push-expanded-button {
  font-size: 14px;
  border-radius: 7px;
  width: 100%;
  border: 0;
  padding: 8px;
  background-color: transparent;
}

.notificare .notificare__web-push-expanded-button:hover {
  background-color: #efefef;
}

.notificare .notificare__web-push-expanded-buttons-divisor {
  border: none;
  border-top: 1px solid #d6d6d6;
}

.notificare .notificare__web-push-expanded-buttons-divisor--transparent {
  border-top: 1px solid transparent;
}



/* keyframes */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




