.notificare .notificare__push__ios__image__app-ui__rich-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 566px;
    background-color: white;
}

.notificare .notificare__push__ios__image__app-ui__slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;
    scrollbar-width: none; /* Hide in Firefox */
}

.notificare .notificare__push__ios__image__app-ui__slider::-webkit-scrollbar {
    display: none; /* Hide in Chrome and Safari */
}

.notificare .notificare__push__ios__image__app-ui__slider-item {
    display: flex;
    min-width: 100%;
    scroll-snap-align: start;
}