.notificare .notificare__android-app-push-ui-message {
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    position: relative;
    background-color: #fff;
    width: 290px;
    border-radius: 2px;
    padding: 20px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.notificare .notificare__android-app-push-ui-message-header {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.notificare .notificare__android-app-push-ui-message-app-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    overflow: hidden;
}

.notificare .notificare__android-app-push-ui-message-app-icon-image {
    width: 100%;
}

.notificare .notificare__android-app-push-ui-message-title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notificare .notificare__android-app-push-ui-message-message {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 270px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
}