.notificare .notificare__pass__google__back {
    width: 330px;
}

.notificare .notificare__pass__google__back svg {
    box-sizing: content-box;
    height: 1.40em;
    width: 1.75em;
    display: inline-block;
    vertical-align: -0.125em;
    overflow: visible;
}

.notificare .notificare__pass__google__back-details {
    padding: 0 10px;
}

.notificare .notificare__pass__google__back-header {
    margin-bottom: 25px;
}

.notificare .notificare__pass__google__back-header-image {
    width: 40px;
    border-radius: 100%;
}

.notificare .notificare__pass__google__back-header-title {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 700;
    color: #000;
}

.notificare .notificare__pass__google__back-text-field {
    margin-top: 15px;
}

.notificare .notificare__pass__google__back-text-field-label {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-bottom: 3px;
}

.notificare .notificare__pass__google__back-text-field-value {
    font-size: 14px;
    color: #000;
    line-height: 1.30em;
}

.notificare .notificare__pass__google__back-image-field {
    margin-top: 10px;
    display: block;
    width: 100%;
}

.notificare .notificare__pass__google__back-section {
    position: relative;
    margin-top: 10px;
    border-radius: 14px;
    overflow: hidden;
}

.notificare .notificare__pass__google__back-section-button-action {
    background: #f5f6f6;
    padding: 14px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
}

.notificare .notificare__pass__google__back-section-action-icon--button-action {
    margin-right: 14px;
}

.notificare .notificare__pass__google__back-section-custom-action {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    background: #f5f6f6;
    padding: 14px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-bottom: 2px;
}

.notificare .notificare__pass__google__back-section-custom-action--align-items-center {
    align-items: center;
}

.notificare .notificare__pass__google__back-section-custom-action-text-area {
    width: 80%;
}

.notificare .notificare__pass__google__back-section-custom-action-title {
    margin-bottom: 2px;
    line-height: 1.30em;
}

.notificare .notificare__pass__google__back-section-custom-action-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.30em;
}

.notificare .notificare__pass__google__back-section-custom-action-switch-area {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.notificare .notificare__pass__google__back-section-custom-action-switch {
    width: 45px;
    height: 26px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%234c4c4c'/%3e%3c/svg%3e");
    background-position: left 2px center;
    background-repeat: no-repeat;
    background-size: 18px;
    pointer-events: none;
    filter: none;
    opacity: .5;
    border-radius: 2em;
    background-color: #c8c8c8;
    border: 2px solid #4c4c4c;
    margin-top: 0.25em;
    appearance: none;
}

.notificare .notificare__pass__google__back-section-custom-action-icon-area {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.notificare .notificare__pass__google__back-trip-field {
    display: flex;
    flex-direction: row;
}

.notificare .notificare__pass__google__back-trip-field-transit-type-area {
    display: flex;
    flex-direction: column;
    margin-right: 28px;
}

.notificare .notificare__pass__google__back-trip-field-transit-type-top {
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12),0 1px 3px 0 rgba(0,0,0,.2);
    height: 20px;
    margin-bottom: -10px;
    margin-left: 2px;
    text-align: center;
    width: 20px;
    z-index: 2;
    color: rgba(32,33,36,1);
}

.notificare .notificare__pass__google__back-trip-field-transit-type-top svg {
    padding-top: 2px;
    font-size: 16px;
    height: 16px;
    width: 16px;
}

.notificare .notificare__pass__google__back-trip-field-transit-type-center {
    border-radius: 0 0 16px 16px;
    height: 100%;
    margin-bottom: -12px;
    margin-left: 5px;
    width: 14px;
    z-index: 1;
}

.notificare .notificare__pass__google__back-trip-field-transit-type-bottom {
    background-color: #fff;
    border-radius: 100%;
    height: 10px;
    margin-left: 7px;
    width: 10px;
    z-index: 3;
}

.notificare .notificare__pass__google__back-trip-field-info-area {
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
    height: 100%;
    justify-content: space-between;
}

.notificare .notificare__pass__google__back-trip-field-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    min-height: 16px;
    width: 100%;
}

.notificare .notificare__pass__google__back-trip-field-text {
    color: #000;
    font-weight: 400;
    font-size: 16px;
    font-family: Roboto,Arial,sans-serif;
    height: 100%;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.notificare .notificare__pass__google__back-trip-field-text--end {
    font-family: Google Sans,Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    overflow-wrap: break-word;
    text-align: right;
    word-wrap: break-word;
    overflow: auto;
}

.notificare .notificare__pass__google__back-trip-field-secondary-text {
    color: #616161;
    font-weight: 400;
    font-size: 12px;
    font-family: Roboto,Arial,sans-serif;
    overflow: hidden;
    overflow-wrap: break-word;
    width: 100%;
    word-wrap: break-word;
}

.notificare .notificare__pass__google__back-trip-field-secondary-text--end {
    text-align: right;
}

.notificare .notificare__pass__google__back-trip-field-spacer {
    height: 20px;
}

.notificare .notificare__pass__google__back-trip-field-transfer-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notificare .notificare__pass__google__back-trip-field-transfer-icon-wrapper {
    display: flex;
    flex-direction: column;
    margin: 8px 28px 8px 2px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12),0 1px 3px 0 rgba(0,0,0,.2);
    height: 20px;
    text-align: center;
    width: 20px;
    z-index: 2;
    color: rgba(32,33,36,1);
    justify-content: center;
    align-items: center;
}

.notificare .notificare__pass__google__back-trip-field-transfer-icon-wrapper svg {
    font-size: 16px;
    height: 16px;
    width: 16px;
}

.notificare .notificare__pass__google__back-trip-field-transfer-text-area {
    display: flex;
    width: calc(100% - 60px);
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.notificare .notificare__pass__google__back-trip-field-transfer-text-area-border {
    margin: 12px 12px 12px 0;
    border-top: 1px solid var(#e1e3e1);
}

.notificare .notificare__pass__google__back-trip-field-transfer-text {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 16px;
    width: 100%;
    color: rgba(95,99,104,1);
    font-size: 14px;
}


