.notificare .notificare__ios-app-push-ui-title-bar {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid #f4f6f7;
    background-color: #fff;
    margin-top: 20px;
    position: relative;
}

.notificare .notificare__ios-app-push-ui-title-bar-text {
    padding: 11px 25px;
    font-size: 14px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 255px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.notificare .notificare__ios-app-push-ui-title-bar-actions-icon {
    width: 20px;
    margin-left: auto;
    margin-right: 12px;
}