.notificare .notificare__pass__google__card-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0 16px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.notificare .notificare__pass__google__logo {
    background: #fff;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin-right: 16px;
}

.notificare .notificare__pass__google__logo--placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ededed;
    color: #616161;
    font-size: 18px;
    text-transform: uppercase;
}

.notificare .notificare__pass__google__wide-logo {
    max-height: 50px;
    max-width: 160px;
    position: relative;
}

.notificare .notificare__pass__google__title {
    font-family: Google Sans Text,Google Sans,Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5rem;
    font-variation-settings: "CRSV" 0,"FILL" 0,"GRAD" 0,"HEXP" 0,"opsz" 16,"ROND" 0,"slnt" 0,"wdth" 100,"wght" 500;
    word-break: break-word;
}