.notificare .notificare__push__preview {
    margin-top: 20px;
}

/* Disable label selection in every preview */

.notificare .notificare__push__preview p,
.notificare .notificare__push__preview span,
.notificare .notificare__push__preview div,
.notificare .notificare__push__preview h1,
.notificare .notificare__push__preview h2,
.notificare .notificare__push__preview h3,
.notificare .notificare__push__preview h4,
.notificare .notificare__push__preview h5,
.notificare .notificare__push__preview h6 {
    user-select: none;
}

.notificare .notificare__push__preview-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}

/* Preview Error */

.notificare .notificare__push__preview-error-warning {
    width: 350px;
    background-color: #fff1cc;
    border: 1px solid #d5d5d5;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 10px;
    column-gap: 14px;
}

.notificare .notificare__push__preview-error-text-container {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.notificare .notificare__push__preview-error-title {
    font-size: 15px;
    color: #232323;
    font-weight: bold;
}

.notificare .notificare__push__preview-error-reason-text {
    font-size: 13px;
    color: #bd6868;
}

.notificare .notificare__push__preview-error-alert-icon {
    width: 40px;
}

.notificare .notificare__push__preview-error-check-console-text {
    font-size: 12px;
    color: #989898;
    text-align: right;
    margin-top: 6px;
    margin-right: 3px;
    font-style: italic;
}