.notificare .notificare__push__preview {
    margin-top: 20px;
}

.notificare .notificare__push__preview-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}