.notificare .notificare__android-app-push-ui-navigation-bar {
    display: flex;
    width: 338px;
    height: 45px;
    padding: 0 15px;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.notificare .notificare__android-app-push-ui-navigation-bar-arrow-icon {
    margin-right: 20px;
    height: 24px;
}

.notificare .notificare__android-app-push-ui-navigation-bar-title {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notificare .notificare__android-app-push-ui-navigation-bar-actions-icon {
    margin-left: auto;
    height: 24px;
}