/* MAIN */

.notificare .notificare__web__phone__app-ui {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notificare .notificare__web__phone__app-ui__background {
    width: 300px;
    background-color: white;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

/* Header */

.notificare .notificare__web__phone__app-ui__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

.notificare .notificare__web__phone__app-ui__app-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 32px;
    width: 32px;
    overflow: hidden;
}

.notificare .notificare__web__phone__app-ui__app-icon-image {
    width: 100%;
}

.notificare .notificare__web__phone__app-ui__app-icon-svg {
    width: 112%;
    height: 112%;
    display: block;
}

.notificare .notificare__web__phone__app-ui__app-name {
    font-size: 18px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.notificare .notificare__web__phone__app-ui__close-button {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 0;
}

.notificare .notificare__web__phone__app-ui__close-button:hover {
    transition: background-color .3s ease-in-out, border-radius .3s ease-in-out;
    background-color: #f4f5f9;
}

.notificare .notificare__web__phone__app-ui__close-button-icon {
    width: 24px;
    height: 24px;
}

/* Actions */

.notificare .notificare__web__phone__app-ui__actions-row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 8px;
    flex-direction: row-reverse;
}

.notificare .notificare__web__phone__app-ui__actions-column {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: stretch;
}

.notificare .notificare__web__phone__app-ui__action {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
    padding: 8px 16px;
    text-overflow: ellipsis;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    white-space: nowrap;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}

.notificare .notificare__web__phone__app-ui__action--full-width {
    width: 100%
}

.notificare .notificare__web__phone__app-ui__action--primary {
    background-color: #2b42f7;
    color: #ffffffde;
}

.notificare .notificare__web__phone__app-ui__action--primary:hover {
    background-color: #071cc3;
}

.notificare .notificare__web__phone__app-ui__action--secondary {
    background-color: transparent;
    color: #2b42f7;
}

.notificare .notificare__web__phone__app-ui__action--secondary:hover {
    background-color: #f4f5f9;
}
