/* Preview Wrapper */

.notificare .notificare__push__web__desktop__lock-screen {
  position: relative;
  background-color: #f4f4f4;
  width: 340px;
  border-radius: 15px;
  border: 1px solid #e4e4e4;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  transition: max-height 0.4s ease-in-out, overflow 0s ease-in-out 1s;
  align-self: start;
  max-height: 113px;
  overflow: hidden;
}

.notificare .notificare__push__web__desktop__lock-screen--collapsed {
  animation: showOverflow 0s linear 0.4s forwards;
}

.notificare .notificare__push__web__desktop__lock-screen--expanded {
  max-height: 500px;
  background-color: #fff;
}

.notificare .notificare__push__web__desktop__lock-screen:hover .notificare__push__web__desktop__lock-screen__time-container {
  opacity: 0;
  max-width: 0;
  transition: opacity 0.2s ease-in-out, max-width 0s linear 0.2s;
}

.notificare .notificare__push__web__desktop__lock-screen:hover .notificare__push__web__desktop__lock-screen__small-media {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.notificare .notificare__push__web__desktop__lock-screen:hover :is(.notificare__push__web__desktop__lock-screen__settings-button-container, .notificare__push__web__desktop__lock-screen__expand-button-container) {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s;
}

/* Expand Button */

.notificare .notificare__push__web__desktop__lock-screen__expand-button-container {
  position: absolute;
  top: 8px;
  right: 8px;
  visibility: hidden;
  opacity: 0;
  transition: visibility linear 0.2s, opacity 0.2s ease-in-out;
}

.notificare .notificare__push__web__desktop__lock-screen__expand-button-container--visible {
  visibility: visible;
  opacity: 1;
}

/* MAIN CONTENT */

.notificare .notificare__push__web__desktop__lock-screen__main-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding: 12px;
}

/* Browser Icon */

.notificare .notificare__push__web__desktop__lock-screen__browser-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notificare .notificare__push__web__desktop__lock-screen__browser-icon-background {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notificare .notificare__push__web__desktop__lock-screen__browser-icon-svg {
  width: 30px;
  height: auto;
}

/* Main notification content */

.notificare .notificare__push__web__desktop__lock-screen__text-content {
  width: 100%;
}

.notificare .notificare__push__web__desktop__lock-screen__time-and-title-wrapper {
  position: relative;
  display: flex;
  width: 266px;
  overflow: hidden;
  column-gap: 6px;
}

.notificare .notificare__push__web__desktop__lock-screen__time-container {
  margin-left: auto;
  flex-shrink: 0;
  max-width: 80px;
  transition: opacity 0.2s ease-in-out, max-width 0s linear;
  opacity: 1;
}

.notificare .notificare__push__web__desktop__lock-screen__time-container--hidden {
  opacity: 0;
  max-width: 0;
}


.notificare .notificare__push__web__desktop__lock-screen__domain-and-message-and-media-wrapper {
  display: flex;
  column-gap: 6px;
}

.notificare .notificare__push__web__desktop__lock-screen__text {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
  margin-bottom: 0;
}

.notificare .notificare__push__web__desktop__lock-screen__text--title {
  font-weight: 700;
}

.notificare .notificare__push__web__desktop__lock-screen__text--domain {
  font-weight: 700;
  margin-top: 2px;
}

.notificare .notificare__push__web__desktop__lock-screen__text--message {
  margin-top: 2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-word;
  white-space: wrap;
  line-height: 1.2;
  transition: max-height 0.4s ease 0s;
  max-height: 50px;
}

.notificare .notificare__push__web__desktop__lock_screen__text--message-with-attachment {
  max-width: 222px;
}

.notificare .notificare__push__web__desktop__lock-screen__text--expandable-message {
  max-height: 300px;
}

.notificare .notificare__push__web__desktop__lock-screen__text--collapsed-message {
  animation: applyClamp 0s linear 0.4s forwards;
}

.notificare .notificare__push__web__desktop__lock-screen__text--time {
  font-size: 12px;
  color: #64706e;
}

/* Media */

.notificare .notificare__push__web__desktop__lock-screen__small-media {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 25%;
  object-fit: cover;
  transition: opacity 0.2s ease-in-out 0s;
  margin-left: auto;
  margin-top: 2px;
  opacity: 1;
}

.notificare .notificare__push__web__desktop__lock-screen__small-media--hidden {
  opacity: 0;
}

.notificare .notificare__push__web__desktop__lock-screen__expanded-media {
  width: 100%;
  display: block;
}

/* Expanded Content */

.notificare .notificare__push__web__desktop__lock-screen__expanded-content {
  width: 100%;
  max-height: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, max-height 0s linear 0.4s, padding 0s linear 0.4s;
}

.notificare .notificare__push__web__desktop__lock-screen__expanded-content--visible {
  padding: 0 14px 14px;
  visibility: visible;
  max-height: 500px;
  transition-delay: 0s, 0s;
}

/* SETTINGS */

.notificare .notificare__push__web__desktop__lock-screen__settings-button-container {
  position: absolute;
  bottom: 10px;
  right: 14px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s;
}

.notificare .notificare__push__web__desktop__lock-screen__settings-button-container--visible {
  visibility: visible;
  opacity: 1;
}

.notificare .notificare__push__web__desktop__lock-screen__settings-button-container--hidden {
  visibility: hidden !important;
  opacity: 0 !important;
  transition-delay: 0s !important;
}

/* Settings Button */

.notificare .notificare__push__web__desktop__lock-screen__settings-button {
  min-width: 70px;
  display: flex;
  background-color: #d6d6d6;
  border-radius: 7px;
  border: 0;
  padding: 5px 10px 5px;
  font-size: 13px;
  justify-content: center;
  box-shadow: -5px -7px 10px 10px rgba(242, 244, 246, 1);
  position: relative;
}

.notificare .notificare__push__web__desktop__lock-screen__settings-button-expand-icon {
  width: 9px;
  margin-left: 4px;
  color: #000000;
}

/* Settings Selector */

.notificare .notificare__push__web__desktop__lock-screen__settings-selector {
  background-color: #eaeaea;
  border-radius: 7px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  padding: 4px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 32px;
  width: max-content;
  right: 0;
}

.notificare .notificare__push__web__desktop__lock-screen__settings-selector-option {
  min-width: 70px;
  background-color: transparent;
  border-radius: 7px;
  font-size: 13px;
  border: 0;
  padding: 5px 10px;
  flex: 1;
}

.notificare .notificare__push__web__desktop__lock-screen__settings-selector-option:hover {
  background-color: #3b82f6;
  color: #fff;
}

/* Expanded Options - Actions & Settings */

.notificare .notificare__push__web__desktop__lock-screen__expanded-divisor {
  border: none;
  border-top: 1px solid #d6d6d6;
  width: 102%;
  margin-left: -1%;
}

.notificare .notificare__push__web__desktop__lock-screen__expanded-button {
  font-size: 14px;
  border-radius: 7px;
  width: 100%;
  border: 0;
  padding: 8px;
  background-color: transparent;
}

.notificare .notificare__push__web__desktop__lock-screen__expanded-button:hover {
  background-color: #efefef;
}

.notificare .notificare__push__web__desktop__lock-screen__expanded-buttons-divisor {
  border: none;
  border-top: 1px solid #d6d6d6;
}

.notificare .notificare__push__web__desktop__lock-screen__expanded-buttons-divisor--transparent {
  border-top: 1px solid transparent;
}

/* keyframes */

@keyframes applyClamp {
  to {
    -webkit-line-clamp: 3;
  }
}

@keyframes showOverflow {
  to {
    overflow: visible;
  }
}


