.notificare .notificare__in-app-messaging__card__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notificare .notificare__in-app-messaging__card__window {
    width: 320px;
    background-color: white;
    border-radius: 5px;
    padding: 16px;
    overflow: hidden;
    row-gap: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.notificare .notificare__in-app-messaging__card__header {
    position: relative;
}

.notificare .notificare__in-app-messaging__card__close-button {
    position: absolute;
    right: 8px;
    top: 8px;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    transition: background-color .3s ease-in-out, border-radius .3s ease-in-out;
}

.notificare .notificare__in-app-messaging__card__close-button:hover {
    background-color: #f4f5f9;
}

.notificare .notificare__in-app-messaging__card__close-button--with-image {
    border-radius: 16px;
    background-color: #f4f5f9;
}

.notificare .notificare__in-app-messaging__card__close-button--with-image:hover {
    border-radius: 4px;
}

.notificare .notificare__in-app-messaging__card__close-button-icon {
    fill: #000000de;
    height: 22px;
    width: 22px;
}

.notificare .notificare__in-app-messaging__card__image {
    aspect-ratio: 2 / 1;
    width: 100%;
    object-fit: cover;
}

.notificare .notificare__in-app-messaging__card__title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
}

.notificare .notificare__in-app-messaging__card__message {
    font-size: 14px;
    width: 100%;
    line-height: 20px;
}

.notificare .notificare__in-app-messaging__card__actions {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 16px;
}

.notificare .notificare__in-app-messaging__card__action-button {
    padding: 8px 16px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 20px;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.notificare .notificare__in-app-messaging__card__action-button--primary {
    background-color: #2b42f7;
    color: rgba(255, 255, 255, 0.87);
}

.notificare .notificare__in-app-messaging__card__action-button--primary:hover {
    background-color: #071cc3;
}

.notificare .notificare__in-app-messaging__card__action-button--secondary {
    background-color: #fff;
    color: #2b42f7;
}

.notificare .notificare__in-app-messaging__card__action-button--secondary:hover {
    background-color: #f4f5f9;
}

.notificare .notificare__in-app-messaging__card__action-button--destructive {
    background-color: #fff;
    color: #ba1a1a;
}

.notificare .notificare__in-app-messaging__card__action-button--destructive:hover {
    background-color: #ffdad699;
}