.notificare .notificare__in-app-messaging__card__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notificare .notificare__in-app-messaging__card__window {
    width: 320px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    overflow: hidden;
    row-gap: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.notificare .notificare__in-app-messaging__card__header {
    position: relative;
}

.notificare .notificare__in-app-messaging__card__close-button {
    position: absolute;
    right: 8px;
    top: 8px;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    justify-content: center;
    border-radius: 16px;
    padding: 0;
    background-color: #fff;
}

.notificare .notificare__in-app-messaging__card__close-button-icon {
    fill: #000000de;
    height: 22px;
    width: 22px;
}

.notificare .notificare__in-app-messaging__card__image {
    aspect-ratio: 2 / 1;
    width: 100%;
    object-fit: cover;
}

.notificare .notificare__in-app-messaging__card__title {
    font-weight: 600;
    font-size: 15px;
    max-width: 260px;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
}

.notificare .notificare__in-app-messaging__card__message {
    font-size: 13px;
    width: 100%;
    word-break: break-word;
    line-height: 18px;
}

.notificare .notificare__in-app-messaging__card__actions {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 16px;
}

.notificare .notificare__in-app-messaging__card__action-button {
    padding: 8px 16px;
    font-weight: 500;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 18px;
}

.notificare .notificare__in-app-messaging__card__action-button--primary {
    background-color: #2b42f7;
    color: #fff;
}

.notificare .notificare__in-app-messaging__card__action-button--secondary {
    color: #2a41f3;
}

.notificare .notificare__in-app-messaging__card__action-button--destructive {
    background-color: #fff;
    color: #e54142;
}