.notificare .notificare__ios-phone-background {
    width: 335px;
    border-radius: 20px;
    border: 2px solid #f2f4f6;
    background-color: #fff;
    overflow: hidden;
}

.notificare .notificare__ios-phone-background--dark {
    width: 339px;
    border-radius: 20px;
    border: 2px solid #f2f4f6;
    background-color: #9ea2a1;
    overflow: hidden;
}

.notificare .notificare__ios-phone-background-camera {
    width: 80px;
    height: 20px;
    background: #f2f4f6;
    margin: 20px auto auto;
    border-radius: 20px;
}

.notificare .notificare__ios-phone-background-content {
    width: 100%;
    height: 660px;
    overflow: hidden;
}