.notificare .notificare__unavailable-preview__wrapper {
    width: 350px;
    background-color: #fff1cc;
    border: 1px solid #d5d5d5;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 10px;
    column-gap: 14px;
}

.notificare .notificare__unavailable-preview__text-container {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    width: 100%;
}

.notificare .notificare__unavailable-preview__title {
    font-size: 15px;
    color: #232323;
    font-weight: bold;
}

.notificare .notificare__unavailable-preview__reason-text {
    font-size: 13px;
    color: #bd6868;
}

.notificare .notificare__unavailable-preview__alert-icon {
    width: 40px;
    height: auto;
}

.notificare .notificare__unavailable-preview__check-console-text {
    font-size: 12px;
    color: #989898;
    text-align: right;
    margin-top: 6px;
    margin-right: 3px;
    font-style: italic;
}