.notificare .notificare__ios-lock-screen-notification {
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
    background-color: #f2f4f6;
    width: 315px;
    border-radius: 20px;
    overflow: hidden;
}

.notificare .notificare__ios-lock-screen-notification-main-content {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 11px;
    padding: 10px;
}

/* App Icon */

.notificare .notificare__ios-lock-screen-notification-app-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    overflow: hidden;
}

.notificare .notificare__ios-lock-screen-notification-app-icon-image {
    width: 100%;
}

/*  Text Content */

.notificare .notificare__ios-lock-screen-notification-text-content {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    width: 249px;
}

.notificare .notificare__ios-lock-screen-notification-title-and-time {
    display: flex;
    column-gap: 5px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.notificare .notificare__ios-lock-screen-notification-text {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notificare .notificare__ios-lock-screen-notification-text--title-or-subtitle {
    font-weight: 700;
    width: 218px;
}

.notificare .notificare__ios-lock-screen-notification-text--time {
    color: #64706e;
    font-size: 12px;
    text-align: right;
}

.notificare .notificare__ios-lock-screen-notification-text--message-without-media {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;
    white-space: wrap;
    -webkit-line-clamp: 4;
    width: 242px;
}

.notificare .notificare__ios-lock-screen-notification-text--message-with-media {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;
    white-space: wrap;
    -webkit-line-clamp: 4;
    width: 210px;
}

/* Media */

.notificare .notificare__ios-lock-screen-notification-message-and-media {
    display: flex;
    column-gap: 7px;
}

.notificare .notificare__ios-lock-screen-notification-media-image {
    border-radius: 5px;
    object-fit: cover;
    width: 32px;
    height: 32px;
    align-self: flex-start;
    justify-self: flex-end;
}

.notificare .notificare__ios-lock-screen-notification-expanded-media {
    object-fit: cover;
    width: 100%;
    max-height: 275px;
    overflow: hidden;
    display: block;
}
