.notificare .notificare__ios-app-push-ui-in-app-browser-bar {
    display: flex;
    width: 100%;
    padding: 12px 0;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid #f4f6f7;
    margin-top: 20px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

.notificare .notificare__ios-app-push-ui-in-app-browser-bar-done-button {
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    left: 0;
    margin-left: 33px;
}

.notificare .notificare__ios-app-push-ui-in-app-browser-bar-lock-icon {
    height: 14px;
}

.notificare .notificare__ios-app-push-ui-in-app-browser-bar-domain {
    display: flex;
    column-gap: 5px;
    font-size: 14px;
    font-weight: 700;
}

.notificare .notificare__ios-app-push-ui-in-app-browser-bar-not-secure {
    color: #64706e;
    font-weight: 400;
}

.notificare .notificare__ios-app-push-ui-in-app-browser-bar-url {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}