.notificare .notificare__unavailable-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 540px;
}

.notificare .notificare__unavailable-preview-icon {
    width: 72px;
    margin-bottom: 20px;
}

.notificare .notificare__unavailable-preview-text {
    font-weight: 700;
    font-size: 16px;
    color: #232c2a;
    text-align: center;
    padding: 0 10px;
}

.notificare .notificare__unavailable-preview-text-notification-type {
    color: #f85b5b;
}