.notificare .notificare__push__android__lock-screen {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  background-color: #f2f4f6;
  width: 315px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  column-gap: 11px;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
}

.notificare .notificare__push__android__lock-screen__wrapper {
  position: relative;
}

/* App Icon */

.notificare .notificare__push__android__lock-screen__app-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  overflow: hidden;
}

.notificare .notificare__push__android__lock-screen__app-icon-image {
  width: 100%;
}

.notificare .notificare__push__android__lock-screen__no-app-icon-svg {
  height: 100%;
  width: 100%;
}

/* Text Content */

.notificare .notificare__push__android__lock-screen__text-content {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.notificare .notificare__push__android__lock-screen__text-content-top {
  display: flex;
  column-gap: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.notificare .notificare__push__android__lock-screen__title-and-subtitle {
  display: flex;
  overflow: hidden;
  column-gap: 6px;
  max-width: 223px;
}

.notificare .notificare__push__android__lock-screen__title-and-subtitle--has-media {
  max-width: 160px;
}

.notificare .notificare__push__android__lock-screen__text {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notificare .notificare__push__android__lock-screen__text--title {
  font-weight: 700;
  font-size: 14px;
}

.notificare .notificare__push__android__lock-screen__text--expanded-title {
  font-weight: 700;
  font-size: 14px;
  margin-top: 5px;
  width: 223px;
}

.notificare .notificare__push__android__lock-screen__text--subtitle {
  color: #64706e;
  font-size: 12px;
  font-weight: 400;
}

.notificare .notificare__push__android__lock-screen__text--time {
  color: #64706e;
  font-size: 12px;
  font-weight: 400;
}

.notificare .notificare__push__android__lock-screen__text--message-without-media {
  font-size: 14px;
  width: 252px;
}

.notificare .notificare__push__android__lock-screen__text--message-with-media {
  font-size: 14px;
  width: 191px;
}

.notificare .notificare__push__android__lock-screen__text--expanded-message {
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-break: break-word;
  width: 252px;
  white-space: wrap;
}

/* Media */

.notificare .notificare__push__android__lock-screen__media {
  display: flex;
  width: 50px;
}

.notificare .notificare__push__android__lock-screen__media-image {
  width: 50px;
  border-radius: 5px;
  object-fit: cover;
}

.notificare .notificare__push__android__lock-screen__expanded-media {
  margin-top: 5px;
  width: 252px;
}

.notificare .notificare__push__android__lock-screen__expanded-media-image {
  width: 100%;
  max-height: 168px;
  border-radius: 15px;
}
