.notificare .notificare__push-onboarding__dialog__wrapper {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    display: flex;
}

.notificare .notificare__push-onboarding__dialog__window {
    width: 320px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 16px;
    row-gap: 16px;
    box-shadow: 0 0 32px -8px rgba(0, 0, 0, 0.52);
    margin-top: 64px;
}

.notificare .notificare__push-onboarding__dialog__content {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}

.notificare .notificare__push-onboarding__dialog__icon {
    width: 64px;
    height: 64px;
    border-radius: 4px;
}

.notificare .notificare__push-onboarding__dialog__default-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    min-width: 64px;
    height: 64px;
    overflow: hidden;
}

.notificare .notificare__push-onboarding__dialog__default-icon {
    width: 64px;
    height: 64px;
}

.notificare .notificare__push-onboarding__dialog__text-content {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    overflow: hidden;
}

.notificare .notificare__push-onboarding__dialog__title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notificare .notificare__push-onboarding__dialog__message {
    font-size: 14px;
    line-height: 20px;
    border: none;
    color: rgba(0, 0, 0, 0.86);
}

.notificare .notificare__push-onboarding__dialog__footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 16px;
}

.notificare .notificare__push-onboarding__dialog__actions {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    column-gap: 8px;
}

.notificare .notificare__push-onboarding__dialog__action-button {
    padding: 8px 16px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 20px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.notificare .notificare__push-onboarding__dialog__action-button--accept {
    background-color: #2b42f7;
    color: rgba(255, 255, 255, 0.87);
}

.notificare .notificare__push-onboarding__dialog__action-button--accept:hover {
    background-color: #071cc3;
}

.notificare .notificare__push-onboarding__dialog__action-button--cancel {
    color: #ba1a1a;
}

.notificare .notificare__push-onboarding__dialog__action-button--cancel:hover {
    background-color: #ffdad699;
}