.notificare .notificare__android-lock-screen-push-message {
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  position: relative;
  background-color: #f2f4f6;
  width: 290px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 11px;
}

.notificare .notificare__android-lock-screen-push-message-app-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 32px;,
  height: 32px;
  overflow: hidden;
}

.notificare .notificare__android-lock-screen-push-message-app-icon-image {
  width: 100%;
}

.notificare .notificare__android-lock-screen-push-message-text-content {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.notificare .notificare__android-lock-screen-push-message-text-content-top {
  display: flex;
  column-gap: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.notificare .notificare__android-lock-screen-push-message-title-and-subtitle {
  display: flex;
  overflow: hidden;
  column-gap: 6px;
  max-width: 220px;
}

.notificare .notificare__android-lock-screen-push-message-title-and-subtitle--has-media {
  max-width: 156px;
}

.notificare .notificare__android-lock-screen-push-message-title {
  font-weight: bold;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notificare .notificare__android-lock-screen-push-message-subtitle {
  color: #64706e;
  font-size: 12px;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notificare .notificare__android-lock-screen-push-message-time {
  color: #64706e;
  font-size: 12px;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0;
}

.notificare .notificare__android-lock-screen-push-message-message {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: lighter;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  width: 236px;
}

.notificare .notificare__android-lock-screen-push-message-message--has-media {
  width: 184px;
}

.notificare .notificare__android-lock-screen-push-message-media {
  display: flex;
  width: 50px;
}

.notificare .notificare__android-lock-screen-push-message-media-image {
  width: 50px;
  border-radius: 5px;
  object-fit: cover;
}
