.notificare .notificare__preview-error__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 440px;
    text-align: center;
    padding: 0 20px;
}

.notificare .notificare__preview-error__icon {
    width: 72px;
    margin-bottom: 20px;
    height: auto;
}

.notificare .notificare__preview-error__text {
    font-weight: 700;
    font-size: 16px;
    color: #232c2a;
}