/* Top Bar */

.notificare .notificare__ios-app-ui-app-recommendation-notification-bar {
    display: flex;
    width: 100%;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid #f4f6f7;
    font-size: 14px;
    font-weight: 700;
    padding: 11px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #fff;
    margin-top: 10px;
}

.notificare .notificare__ios-app-ui-app-recommendation-notification-content-background {
    background-color: #fff;
    width: 100%;
    height: 601px;
}

/* --- App Recommendation Content --- */

.notificare .notificare__ios-app-ui-app-recommendation {
    height: 566px;
    background-color: #fff;
}

.notificare .notificare__ios-app-ui-app-recommendation-page {
    width: 100%;
    overflow: hidden;
}

/* Header */

.notificare .notificare__ios-app-ui-app-recommendation-page-header {
    width: 100%;
    padding: 15px;
    display: flex;
    column-gap: 15px;
}

.notificare .notificare__ios-app-ui-app-recommendation-app-icon {
    width: 90px;
    height: 90px;
    border-radius: 15px;
    overflow: hidden;
    flex-shrink: 0;
}

.notificare .notificare__ios-app-ui-app-recommendation-page-app-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notificare .notificare__ios-app-ui-app-recommendation-page-app-name {
    font-size: 16px;
    font-weight: 700;
}

.notificare .notificare__ios-app-ui-app-recommendation-page-app-category {
    font-size: 12px;
}

.notificare .notificare__ios-app-ui-app-recommendation-page-install {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 7px 12px;
    background: #3b82f6;
    color: #fff;
    border-radius: 15px;
    width: max-content;
}

/* Other info */

.notificare .notificare__ios-app-ui-app-recommendation-page-other-app-info-wrapper {
    padding: 0 15px;
    width: calc(100% - 15px);
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}

.notificare .notificare__ios-app-ui-app-recommendation-page-other-app-info {
    display: flex;
    width: 1000px;
    border-bottom: 1px solid #f2f4f6;
    border-top: 1px solid #f2f4f6;
    position: relative;
    box-sizing: border-box;
}

.notificare .notificare__ios-app-ui-app-recommendation-page-info-block {
    padding: 5px;
    width: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.notificare .notificare__ios-app-ui-app-recommendation-page-info-block-title {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.notificare .notificare__ios-app-ui-app-recommendation-page-info-block-value {
    font-size: 30px;
    text-align: center;
}

.notificare .notificare__ios-app-ui-app-recommendation-page-info-block-icon {
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notificare .notificare__ios-app-ui-app-recommendation-page-info-block-bottom-text {
    font-size: 11px;
    text-align: center;
}

/* History */

.notificare .notificare__ios-app-ui-app-recommendation-page-history {
    margin: 0 15px;
    border-bottom: 1px solid #f2f4f6;
    padding-bottom: 15px;
}

.notificare .notificare__ios-app-ui-app-recommendation-page-history-title {
    font-size: 16px;
    font-weight: 700;
}

.notificare .notificare__ios-app-ui-app-recommendation-page-history-version-last-update {
    display: flex;
    justify-content: space-between;
}

.notificare .notificare__ios-app-ui-app-recommendation-page-history-version {
    font-size: 12px;
    color: #64706e;
}

.notificare .notificare__ios-app-ui-app-recommendation-page-history-last-update {
    font-size: 11px;
    color: #64706e;
}

.notificare .notificare__ios-app-ui-app-recommendation-page-history-notes {
    margin-top: 5px;
    font-size: 12px;
    max-height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-right: 5px;
    word-break: break-word;
}

/* Previews */

.notificare .notificare__ios-app-ui-app-recommendation-page-previews {
    margin-top: 15px;
    padding: 0 15px;
}

.notificare .notificare__ios-app-ui-app-recommendation-page-previews-title {
    font-size: 16px;
    font-weight: 700;
}

.notificare .notificare__ios-app-ui-app-recommendation-page-previews-images {
    display: flex;
    max-height: 400px;
    overflow: hidden;
    column-gap: 8px;
    margin-top: 10px;
}

.notificare .notificare__ios-app-ui-app-recommendation-page-preview-image {
    border-radius: 15px;
    width: 150px;
}