.notificare .notificare__ios-lock-screen-push {
  background-color: #f2f4f6;
  width: 315px;
  border-radius: 20px;
}

.notificare .notificare__ios-lock-screen-push-wrapper {
  width: 100%;
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 11px;
}

/*  Text Content */

.notificare .notificare__ios-lock-screen-push-text-content {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  width: 249px;
}

.notificare .notificare__ios-lock-screen-push-title-and-time {
  display: flex;
  column-gap: 5px;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  width: 100%;
}

.notificare .notificare__ios-lock-screen-push-text {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notificare .notificare__ios-lock-screen-push-text--title-or-subtitle {
  font-weight: bold;
  width: 220px;
}

.notificare .notificare__ios-lock-screen-push-text--time {
  color: #64706e;
  font-size: 12px;
  text-align: right;
}

.notificare .notificare__ios-lock-screen-push-text--message-without-media {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-word;
  white-space: wrap;
  -webkit-line-clamp: 4;
  width: 242px;
}

.notificare .notificare__ios-lock-screen-push-text--message-with-media {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-word;
  white-space: wrap;
  -webkit-line-clamp: 4;
  width: 210px;
}

/* Media */

.notificare .notificare__ios-lock-screen-push-message-and-media {
  display: flex;
  column-gap: 7px;
}

.notificare .notificare__ios-lock-screen-push-media-image {
  border-radius: 5px;
  object-fit: cover;
  width: 32px;
  height: 32px;
  align-self: flex-start;
  justify-self: flex-end;
}
