@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.notificare {
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    color: #232c2a;
}

.notificare * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.notificare h1,
.notificare h2,
.notificare h3,
.notificare h4,
.notificare h5,
.notificare h6,
.notificare p,
.notificare span,
.notificare a

:root {

}