.notificare .notificare__ios-phone-background__wrapper {
    width: 350px;
    border-radius: 40px;
    border: 6px solid #c6c6c6;
    background-color: #fff;
    overflow: hidden;
}

.notificare .notificare__ios-phone-background__wrapper--dark {
    background-color: #9ea2a1;
    border-color: #eaeaea;
}

.notificare .notificare__ios-phone-background__camera {
    width: 80px;
    height: 20px;
    background: #c6c6c6;
    margin: 20px auto 10px;
    border-radius: 20px;
}

.notificare .notificare__ios-phone-background__content {
    width: 100%;
    height: 615px;
    overflow: hidden;
    position: relative;
}