.notificare .notificare__in-app-messaging__banner__wrapper {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    display: flex;
}

.notificare .notificare__in-app-messaging__banner__window {
    width: 320px;
    border-radius: 4px;
    display: flex;
    background-color: #fff;
    padding: 16px;
    column-gap: 16px;
}

.notificare .notificare__in-app-messaging__banner__image {
    width: 58px;
    height: 58px;
    object-fit: cover;
}

.notificare .notificare__in-app-messaging__banner__text-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.notificare .notificare__in-app-messaging__banner__title {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    line-height: 20px;
}

.notificare .notificare__in-app-messaging__banner__message {
    font-size: 14px;
    width: 100%;
    line-height: 20px;
}