.notificare .notificare__in-app-messaging__fullscreen__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notificare .notificare__in-app-messaging__fullscreen__window {
    width: 310px;
    height: 95%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.notificare .notificare__in-app-messaging__fullscreen__background-image {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.notificare .notificare__in-app-messaging__fullscreen__close-button {
    position: absolute;
    right: 8px;
    top: 8px;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    justify-content: center;
    border-radius: 16px;
    transition: background-color .3s ease-in-out, border-radius .3s ease-in-out;
}

.notificare .notificare__in-app-messaging__fullscreen__close-button:hover {
    border-radius: 4px;
}

.notificare .notificare__in-app-messaging__fullscreen__close-button-icon {
    fill: #000000de;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    flex-grow: 0;
}

.notificare .notificare__in-app-messaging__fullscreen__text-content {
    position: absolute;
    bottom: 0;
    padding: 32px 16px 16px;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), #fff);
}

.notificare .notificare__in-app-messaging__fullscreen__title {
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    line-height: 20px;
}

.notificare .notificare__in-app-messaging__fullscreen__message {
    font-size: 14px;
    line-height: 20px;
}